@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'RX100-Regular';
  src: url('/fonts/RX100_Complete/Fonts/WEB/fonts/RX100-Regular.woff2')
      format('woff2'),
    url('/fonts/RX100_Complete/Fonts/WEB/fonts/RX100-Regular.woff')
      format('woff'),
    url('/fonts/RX100_Complete/Fonts/WEB/fonts/RX100-Regular.ttf')
      format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'DancingScript-Regular';
  src: url('/fonts/DancingScript_Complete/Fonts/WEB/fonts/DancingScript-Regular.woff2')
      format('woff2'),
    url('/fonts/DancingScript_Complete/Fonts/WEB/fonts/DancingScript-Regular.woff')
      format('woff'),
    url('/fonts/DancingScript_Complete/Fonts/WEB/fonts/DancingScript-Regular.ttf')
      format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'DancingScript-Bold';
  src: url('/fonts/DancingScript_Complete/Fonts/WEB/fonts/DancingScript-Bold.woff2')
      format('woff2'),
    url('/fonts/DancingScript_Complete/Fonts/WEB/fonts/DancingScript-Bold.woff')
      format('woff'),
    url('/fonts/DancingScript_Complete/Fonts/WEB/fonts/DancingScript-Bold.ttf')
      format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
/**
  * This is a variable font
  * You can control variable axes as shown below:
  * font-variation-settings: wght 400.0;
  *
  * available axes:
  'wght' (range from 400.0 to 700.0
  */
@font-face {
  font-family: 'DancingScript-Variable';
  src: url('/fonts/DancingScript_Complete/Fonts/WEB/fonts/DancingScript-Variable.woff2')
      format('woff2'),
    url('/fonts/DancingScript_Complete/Fonts/WEB/fonts/DancingScript-Variable.woff')
      format('woff'),
    url('/fonts/DancingScript_Complete/Fonts/WEB/fonts/DancingScript-Variable.ttf')
      format('truetype');
  font-weight: 400 700;
  font-display: swap;
  font-style: normal;
}
